*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    background: black;
    height: 90vh;
    width: 100%;
    padding: 10px 8%;
}

